<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>U.S. Legislation Project</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/static/css/starter-template.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">U.S. Legislation Project</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
	<div class="row">
      <div class="col-md-8 col-md-offset-2 starter-template">
        <h1 class="text-center">The Language of Legislation</h1>
        <p>The GovTrack dataset provides the text of bills introduced on the
        floor of both the House and the Senate. There are a lot of interesting
        applications of this data, but first, let's get a sense of the language
        used by our legislators. We built a language model of bills as they
        were introduced (before any modifications) to the House of
        representatives.</p>

	<h2>The Data</h2>
	<p>
	We extracted all of the bills introduced by the House of Representatives from
  the 103rd Congress to the 115th Congress (1993 - 2017). A few quick stats:
	<ul>
	  <li>72,243 individual bills</li>
	  <li>198,145,728 tokens (words or special punctuation)</li>
	  <li>Average bill length: 2740 tokens</li>
	</ul>

	There are a few <strong>really</strong> long <a
    href="http://www.politico.com/blogs/on-congress/2009/11/gop-wrote-5-of-10-longest-bills-023067">bills</a>,
  but most are captured in the cumulative distribution below. A point (x, y) on
  this plot states that a fraction <var>y</var> of bills are less than or equal
  to <var>x</var> tokens (~words) long.
	<img src="static/res/bill_length.png" class="img-responsive">
	</p>

	<h2>The Fun Interactive Part</h2>
	<p>
	One good way to get a sense for the language model we've trained is to look
  at samples from it. You can change the temperature to increase/decrease the
  variability in the sample.
	</p>
  <form>
    <div class="form-group">
      <input type="text" class="form-control" id="seed" placeholder="Seed text">
    </div>
    <div class="form-group">
      <label for="temp" id="temp-label">Temperature: <span id="temp-value">10</span></label>
      <input type="range" id="temp" min="0" max="100" value="10"/>
    </div>
  </form>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Generated Sample</h3>
    </div>
    <div class="panel-body text-muted" id="sample-text">
     Lorem ipsum dolor... 
    </div>
  </div>

	<h2>The Model and Training</h2>
	We use a 2-layer LSTM model. The instance served by this page has the following parameters:

	<table class="table">
	<tr>
    <td>Parameter</td>
    <td>Value</td>
	</tr>
	<tr>
    <td>Embedding Dim</td>
    <td>200</td>
	</tr>
	<tr>
    <td>Hidden Layer Dim</td>
    <td>200</td>
	</tr>
	<tr>
    <td>Vocab Size</td>
    <td>10000</td>
	</tr>
	</table>

  <p>Of the approx. 72K bills, we partition into <strong>57795</strong> bills
  for training, <strong>7224</strong> for validation, and <strong>7224</strong> for a
  test set.</p>

  <p>The model is trained using vanilla SGD with an exponentially decaying learning rate, batch size of 20,
  unroll length of 20, and clipped gradients. See <a href="#">hparams.yaml</a>
  for full details.</p>

  <p>The model served by this page hit an entropy of 65 on the test set.</p>

    </div> <!-- /.col -->
    </div> <!-- /.row -->
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/underscorejs/1.8.3/underscore-min.js"></script>
    <script type="text/javascript" src="static/d3.js"></script>
    <script type="text/javascript" src="static/bars.js"></script>
  </body>
</html>
