{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>{{bill.number}}<br/><small>{{bill.title}}</small></h1>
    <p>{{bill.summary}} </p>
    <h3>Sponsorship</h3>
    <table class="table">
      <tr>
        <td>Primary Sponsor</td>
        <td>{{ bill.sponsor }}</td>
      </tr><tr>
        <td>Party</td>
        <td>{{ bill.sponsor_party}}</td>
      </tr><tr>
        <td>State</td>
        <td>{{ bill.sponsor_state }}</td>
      </tr>
    </table>
    <h3>Recent Actions</h3>
    <table class="table">
      <tr>
        <th>Date</th>
        <th>Description</th>
      </tr>
      {% for action in bill.actions %}
      <tr>
        <td>{{ action.datetime }}</td>
        <td>{{ action.description }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

{% if bill.active %}
<h2>Vote Prediction</h2>
<div class="row">
  {% for example in examples %}
  <div class="col-md-3 col-sm-6">
  {% if example.predict_aye %}
  <div class="panel panel-success">
  {% else %}
  <div class="panel panel-danger">
  {% endif %}
    <div class="panel-heading text-right">Prediction: <strong>{% if example.predict_aye %}Aye{% else %}Nay{% endif %}</strong></div>
    <table class="table">
      {% for name, value in example.items() if not name == "predict_aye" %}
      <tr>
        <td><b>{{ name }}</b></td>
        <td>{{ value }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  </div>
  {% endfor %}
</div>
{% endif %}

{% endblock %}
